/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

.hero {
  width:100%;
  height: 100vh;
  overflow: hidden;
}

.hero video {
//object-fit: contain;
//object-fit: fill; 
  object-fit: cover;
  width:100%;
  height:100%;
}
      