
// VARIABLES

@import "variables";
@import "typography";
@import "header";
@import "hero";
@import "pageheader";
@import "layout";
@import "form";
@import "ui/buttons";
@import "ui/input-boxes";
@import "news";
@import "footer";
@import "reset";
@import "mixins";


// Social Icons

.social {

    a {
    	color: transparent;
      border-bottom: 0;
    	}

    img {
    	width: 2em;
      margin: 15px 0;
		  height: 2em;
    	fill: #ffffff;
    	transition: all ease-in-out .4s;
      svg:hover {
        fill: red;
  		  }
    	}
	}

// About

.quote-container {
  margin:50px auto;
  display: inline-block;
  }

.quote {
    display: inline-block;
    margin: 20px 20px;
    padding: 40px;
    height:200px;
    width: 200px;
    border-radius:50% 50%;
    background-color: $linkColour;
    p {
      font-size: 14px;
      padding-top: 100px;
      color: #fff;
      text-align:center;
      padding:5%;
    }

    @media screen and (max-width: 1009px) {
      display: block;
      margin: 20px auto;
      width: 180px;
      height:180px;
    }
}
