
// Fonts

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Nunito');



// Variables

$mainBg: #000000;
$secondBg: #ff2943;

$hoverColour: #EF3649;

$linkColour: #EF3649;
$linkColourHover: #f7717f;

$headerFont: 'Fjalla One', sans-serif;
$pFont: 'Nunito', sans-serif;

// Breakpoints

$tabletBreakpoint: 859px;
$mobileBreakpoint: 500px;

// Other

$defaultTransition: all ease-in-out .3s;
$footerHeader: #ffffff;
